td{
	padding: 1em;
	height: 15px;
	width: auto;
	border: 1px solid red;
	text-align: center;
}

.numbrInput{
	display: block;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 2em;
	padding: .5em;
}