<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8">
    <title>Multiplication Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>
    <table ng-controller="MultiplicationCtrl" initial-number-limit='10'>
      <tr ng-repeat="numberA in numbers()">
        <td ng-repeat="numberB in numbers()">
          {{ compute(numberA, numberB) }}
        </td>
      </tr>
    </table>
    
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>